<style>
    table {
        border-style: solid;
        border-radius: 1px;
    }
    table th,td{
        border-style: solid;
        border-radius: 1mm;
    }
</style>

<html>
<body>
    <p>데이터 추출결과</p>
    <form action="/data_print" method="get">
    <input type="date" name = "date" id="date">&nbsp<button>검색</button>
    <table>
    
        <%
        var session_temp = target_temp[0];
        if(session_temp===undefined){ %>
         <p>현재 등록된 온도가 없습니다</p>
        <%}else{%> 
         <p>현재 등록된 온도는 <%=session_temp.target_temp%>입니다</p>
        <%}%>

        <tr>
            <th>날짜</th>
            <th>시간</th>
            <th>온도</th>
            <th>알람</th>
            </tr>
            <% data.forEach(function(val){

                %>
                <tr>
                <td><%=val.LogDate %></td>
                <td><%=val.LogTime %></td>
                <td><%=val.LastValue.toFixed(2) %></td>
                <td><% if(val.LastValue>=session_temp.target_temp){%> <p style="color:red">위험</p><%}
                    else if(session_temp===undefined){}
                    else{%> <p style="color:green">정상</p><%}%>
                </td>
                </tr>
            <% }); %>
        </tr>
        <tr></tr>
    </table>
</form>
    <p><a href="insert_temp">온도등록</a></p>
    <p><a href="adjust_temp">온도수정</a></p>
    <p><a href="init_temp">온도초기화</a></p>
    
</body>
</html>

