<html>
<body>
    <p>데이터 추출결과</p>
    <table>
        
        <%var session_temp = 0;
        if(session_temp===0){ %>
         <p>현재 등록된 온도가 없습니다</p>
        <%}else{%> 
         <p>현재 등록된 온도는 <%=session_temp%>입니다</p>
        <%}%>

        <tr>
            <th>날짜</th>
            <th>시간</th>
            <th>온도</th>
            <th>알람</th>
            </tr>
        
            <% data.forEach(function(val){
                %>
                <tr>
                <td><%=val.LogDate %></td>
                <td><%=val.LogTime %></td>
                <td><%=val.LastValue %></td>
                <td></td>
                </tr>
            <% }); %>
        </tr>
        

    </table>

    <p><a href="insert_temp">온도등록</a></p>
    <p><a href="adjust_temp">온도수정</a></p>
    <p><a href="init_temp">온도초기화</a></p>
    
</body>
</html>

