<html>
    <body>
        <p>목표온도</p>
        <form action="temp_store" method ="post"> 
        <input type="text" id = "target_temp" name="target_temp">
        <button>온도저장하기</button>
        </form> 
    </body>
</html>